<!DOCTYPE html>
<html class="page" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/project.css"/>
    <link rel="stylesheet" href="/resources/css/stepper.css"/>
    <link rel="stylesheet" href="/resources/plugins/dropzone/dropzone.css"/>
</head>
<body class="page__body">

<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>
    </div>
</header>

<div class="content wrapper">
    <section class="card wizard">

        <div class="mdl-card__supporting-text">

            <div class="mdl-stepper-horizontal-alternative">
                <div class="mdl-stepper-step active-step" id="step1Indicator">
                    <div class="mdl-stepper-circle"><span>1</span></div>
                    <div class="mdl-stepper-title">О себе</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <!--active-step-->
                <!--step-done-->
                <!--editable-step-->
                <div class="mdl-stepper-step" id="step2Indicator">
                    <div class="mdl-stepper-circle"><span>2</span></div>
                    <div class="mdl-stepper-title">Услуги и цены</div>

                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step" id="step3Indicator">
                    <div class="mdl-stepper-circle"><span>3</span></div>
                    <div class="mdl-stepper-title">Примеры работ</div>
                    <div class="mdl-stepper-optional">Необязательно</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
                <div class="mdl-stepper-step" id="step4Indicator">
                    <div class="mdl-stepper-circle"><span>4</span></div>
                    <div class="mdl-stepper-title">Своё фото</div>
                    <div class="mdl-stepper-optional">Необязательно</div>
                    <div class="mdl-stepper-bar-left"></div>
                    <div class="mdl-stepper-bar-right"></div>
                </div>
            </div>

        </div>
        <div class="card__body">
            <form class="form form_type_wizard clearfix">
                <div class="form__content" id="step1">
                    <div class="wizard__group">
                        <span class="control-group">
                            <label class="label">Дата рождения</label>
                            <input class="input" type="text" data-validation="date" data-validation-format="dd/mm/yyyy"
                                   name="date" placeholder="13.01.1994" data-validation="required"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Лет опыта</label>
                            <input class="input" type="text" data-validation="number"
                                   data-validation-allowing="range[1;100]" name="experience" placeholder="10"
                                   data-validation="required"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Местоположение</label>
                            <input class="input" name="address" type="text" placeholder="Иннополис"
                                   data-validation="required"/>
                        </span>
                    </div>
                    <span class="control-group" id="serviceInfo">
                            <label class="label">Расскажите о себе и своей работе</label>
                            <input type="hidden" name="about">
                            <textarea class="input" name="aboutTextarea"
                                      placeholder="Напишите о себе"></textarea>
                    </span>
                </div>
                <div class="form__content" id="step2" style="display: none;">
                    <div class="service__item__first">
                        <div class="service__form">
                            <span class="control-group">
                                    <label class="label">Описание услуги</label>
                                    <input class="input" type="text" name="service"
                                           placeholder="Например, ремонт бытовой техники" data-validation="required"/>
                            </span>
                            <div class="service-group">
                                <span class="control-group">
                                    <label class="label">Категория услуг</label>
                                    <select class="input" name="categorySelect">
                                        <option th:each="category: ${categories}"
                                                th:text="${category.name}"
                                                th:value="${category.id}"></option>
                                    </select>
                                </span>
                                <span class="control-group">
                                        <label class="label">Стоимость услуги</label>
                                        <input class="input" type="text" data-validation="number" name="price"
                                               placeholder="500" data-validation="required"/>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="service__item__template" style="display: none">
                        <div class="service__form">
                            <span class="control-group">
                                    <label class="label">Описание услуги</label>
                                    <input class="input" type="text" name="service"
                                           placeholder="Например ремонт бытовой техники"/>
                            </span>
                            <div class="service-group">
                                <span class="control-group">
                                    <label class="label">Категория услуг</label>
                                    <select class="input" name="categorySelect">
                                        <option th:each="category: ${categories}" th:text="${category.name}"
                                                th:value="${category.id}"></option>
                                    </select>
                                </span>
                                <span class="control-group">
                                        <label class="label">Стоимость услуги</label>
                                        <input class="input" type="number" name="price" placeholder="500"/>
                                </span>
                            </div>
                        </div>
                        <img class="close" src="/resources/i/cross.png"></img>
                    </div>
                    <div id="servicesList">

                    </div>
                    <button class="btn" id="addService" type="button">Добавить услугу</button>
                </div>
                <div class="form__content" id="step3" style="display: none;">
                    <div class="dropzone" id="examples">
                    </div>
                </div>
                <div class="form__content" id="step4" style="display: none;">
                    <div class="dropzone" id="avatar">
                    </div>
                </div>
                <div class="form__actions">
                    <button id="next" type="button">Далее</button>
                    <button class="btn" id="prev" type="button" style="display: none;">Назад</button>
                </div>
            </form>
            <div id="server__output" style="display: none;">
                <img id="fail" class="img" src="/resources/i/icons/form_fail.png" style="display: none;">
                <img id="success" class="img" src="/resources/i/icons/form_ok.png" style="display: none;">
                <h2></h2>
                <div id="messages">
                </div>
                <button class="btn" id="continue" type="button">Далее</button>
            </div>
        </div>
    </section>
</div>

<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/plugins/select/jquery.nice-select.min.js"></script>
<script src="/resources/plugins/slick/slick.min.js"></script>
<script src="/resources/js/project.js"></script>
<script src="/resources/plugins/dropzone/dropzone.js"></script>
<script src="/resources/plugins/h5validate/jquery.form-validator.js"></script>
<script>
    Dropzone.autoDiscover = false;

    var currentSlide = 1;

    $(document).ready(function () {

        $.validate({
            modules: 'date',
            lang: 'ru'
        });

        $("#examples").dropzone({
            url: "/personal",
            paramName: "file",
            uploadMultiple: true,
            dictDefaultMessage: "Перетащите примеры своих работ в это окно",
            addRemoveLinks: true
        });

        $("#avatar").dropzone({
            url: "/personal/userPic",
            paramName: "file",
            uploadMultiple: false,
            dictDefaultMessage: "Перетащите фото профиля в это окно",
            addRemoveLinks: true
        });


        $("#prev").click(function () {
            switch (currentSlide) {
                case 1:
                    break;
                case 2:
                    $("#step2").fadeOut();
                    $("#prev").fadeOut();
                    setTimeout(function () {
                        $("#step1").fadeIn()
                    }, 500);
                    $("#step1Indicator").removeClass("step-done").addClass("active-step");
                    $("#step2Indicator").removeClass("step-done").removeClass("active-step");
                    currentSlide--;
                    break;
                case 3:
                    $("#step3").fadeOut();
                    setTimeout(function () {
                        $("#step2").fadeIn();
                    }, 500);
                    $("#step2Indicator").removeClass("step-done").addClass("active-step");
                    $("#step3Indicator").removeClass("step-done").removeClass("active-step");
                    currentSlide--;
                    break;
                case 4:
                    $("#step4").fadeOut();
                    setTimeout(function () {
                        $("#step3").fadeIn();
                    }, 500);
                    $("#step3Indicator").removeClass("step-done").addClass("active-step");
                    $("#step4Indicator").removeClass("step-done").removeClass("active-step");
                    currentSlide--;
                    break;
            }
        });

        $("#next").click(function () {
            switch (currentSlide) {
                case 1:
                    $("#step1").fadeOut();
                    setTimeout(function () {
                        $("#prev").fadeIn();
                        $("#step2").fadeIn();
                    }, 500);
                    $("#step1Indicator").addClass("step-done").addClass("active-step");
                    $("#step2Indicator").addClass("active-step");
                    var about = $("input[name='aboutTextarea']").val();
                    $("input[name='about']").val(about);
                    currentSlide++;
                    break;
                case 2:
                    $("#step2").fadeOut();
                    setTimeout(function () {
                        $("#step3").fadeIn();
                    }, 500);
                    $("#step2Indicator").addClass("step-done").addClass("active-step");
                    $("#step3Indicator").addClass("active-step");
                    currentSlide++;
                    break;
                case 3:
                    $("#step3").fadeOut();
                    setTimeout(function () {
                        $("#step4").fadeIn();
                    }, 500);
                    $("#step3Indicator").addClass("step-done").addClass("active-step");
                    $("#step4Indicator").addClass("active-step");
                    currentSlide++;
                    break;
                case 4:
                    $.post('/wizard', $('.form_type_wizard').clone()
                            .find(".service__item__template").remove().end().serialize(),
                        function (data) {
                            console.log(data);
                            if (data.message == "success") {
                                $(".form").fadeOut();
                                setTimeout(function () {
                                    $("#server__output").fadeIn();
                                    $("#success").show();
                                    $("#server__output").find("h2").text("Вы успешно заполнили свой профиль!")
                                }, 500);

                                $("#continue").click(function (event) {
                                    window.location = "http://handy.nyushkevich.ru:8090/personal";
                                });

                            } else {
                                $(".form").fadeOut();
                                $("#continue").click(function (event) {
                                    $("#fail").hide();
                                    $("#messages").html("");
                                    $("#server__output").find("h2").text("");
                                    $("#server__output").fadeOut();
                                    $(".form").fadeIn();
                                });

                                setTimeout(function () {
                                    $("#server__output").fadeIn();
                                    $("#fail").show();
                                    $("#server__output").find("h2").text("Пожалуйста, исправьте следующие ошибки:");
                                    var errors = JSON.parse(data.message);
                                    for (var i = 0; i < errors.length; i++) {
                                        var error = errors[i];
                                        $("#messages").append('<div>' + error + '</div>');
                                    }
                                }, 500);
                            }
                        }, 'json');
                    break;
            }
        });

        $("#addService").click(function () {
            $(".service__item__template").clone().addClass("service__item")
                .removeClass("service__item__template")
                .appendTo("#servicesList").fadeIn();

            $(".close").click(function () {
                $(this).parent().fadeOut().remove();
            });
        });
    });
</script>
</body>
</html>