<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" class="page">
<head>
    <title th:text="#{label.pages.home.title}">home</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/css/project.css"/>
</head>

<body class="page__body">
<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>

        <nav class="header__nav">
            <a class="link" href="#" th:text="#{nav.about}"></a>
            <span sec:authorize="isAnonymous()">
                <a class="link" th:href="@{/login}" th:text="#{nav.login}"></a>
            </span>
            <span sec:authorize="isAuthenticated()">
                <a class="link" th:href="@{/logout}" th:text="#{label.pages.logout}"></a>
            </span>
        </nav>

        <form class="form form_type_search search">
            <span class="input-control">
                <label class="search__toggler" for="search"><i class="material-icons">search</i></label>
                <input id="search" class="input search__input" placeholder="Чем могу помочь?"/>
            </span>
        </form>
    </div>
</header>

<div class="menu">
    <ul class="menu__list">
        <li class="menu__item menu__item_state_active"><a class="link" href="#1">Сантехника</a></li>
        <li class="menu__item"><a class="link" href="#2">Электроника</a></li>
        <li class="menu__item"><a class="link" href="#3">Уборка</a></li>
        <li class="menu__item"><a class="link" href="#4">Косметология</a></li>
        <li class="menu__item"><a class="link" href="#5">Разное</a></li>
    </ul>
</div>
<div>
    Категории
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
    </tr>
</div>
<div class="content wrapper">
    <section class="section">
        <h2 class="title" id="1">Сантехника</h2>
    </section>

    <section class="section">
        <h2 class="title" id="2">Электроника</h2>
    </section>

    <section class="section">
        <h2 class="title" id="3">Уборка</h2>
    </section>

    <section class="section">
        <h2 class="title" id="4">Косметология</h2>
    </section>

    <section class="section">
        <h2 class="title" id="5">Разное</h2>
    </section>
</div>

<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/js/project.js"></script>
</body>

</html>

