<html class="page" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Handy</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/css/project.css"/>
</head>

<body class="page__body">
<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>

        <nav class="header__nav">
            <a class="link" th:text="#{nav.about}" th:href="@{/admin}"></a>
            <span sec:authorize="isAuthenticated()">
                    <a class="link" th:text="#{label.pages.logout}" th:href="@{/logout}"></a>
            </span>
            <span sec:authorize="isAnonymous()">
                    <a class="link" th:text="#{nav.login}" th:href="@{/login}"></a>
            </span>
            <span sec:authorize="isAnonymous()">
                    <a class="link" th:text="#{nav.registration}" th:href="@{/registration}"></a>
            </span>
        </nav>

        <form class="form form_type_search search">
                <span class="input-control">
                    <label class="search__toggler" for="search"><i class="material-icons">search</i></label>
                    <input id="search" class="input search__input" placeholder="Чем могу помочь?"/>
                </span>
        </form>
    </div>
</header>


<div class="menu">
    <ul class="menu__list">
        <li class="menu__item" th:each="category : ${categoryServices}">
            <a class="link" th:text="${category.key.name}" href="#">
            </a>
        </li>
    </ul>
</div>

<div class="content wrapper">
    <section class="section section_size_1" th:each="category: ${categoryServices}">
        <h2 class="title" th:text="${category.key.name}"></h2>

        <div class="slider">

            <div class="slider__item" th:each="service: ${category.value}">
                <section class="card card_style_1">
                    <h3 class="card__title">
                        <p th:if="${service.account.firstName != null}" th:text="${service.account.firstName}"></p>
                        <p th:if="${service.account.lastName != null}" th:text="${service.account.lastName}"></p>
                    </h3>
                    <!--<div class="card__userpic"></div>-->

                    <div th:if="${service.account.userPicUri != null}">
                        <img class="card__userpic" th:src="@{'/resources/i/' + ${service.account.userPicUri}}"></img>
                    </div>
                    <div class="card__userpic__plhldr" th:if="${service.account.userPicUri == null}"></div>
                    <div class="card__description" th:text="${service.description}"></div>
                    <footer class="card__footer">
                        <span class="price" th:if="${service.account.price != null}" th:text="${service.account.price}"></span>
                        <button class="btn" type="button" th:text="#{label.order}"></button>
                    </footer>
                </section>
            </div>

        </div>
    </section>

</div>

<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/plugins/select/jquery.nice-select.min.js"></script>
<script src="/resources/plugins/slick/slick.min.js"></script>
<script src="/resources/js/project.js"></script>
</body>

</html>

