<html class="page" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Handy</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/css/project.css"/>
</head>
<body class="page__body">
<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>

        <nav class="header__nav">
            <!--<a class="link" href="?lang=en" th:text="#{label.form.loginEnglish}"></a>-->
            <!--<a class="link" href="?lang=ru" th:text="#{label.form.loginRussian}"></a>-->
            <a class="link" th:text="#{nav.about}" th:href="@{/admin}"></a>
            <span sec:authorize="isAuthenticated()">
                    <a class="link" th:text="#{label.pages.logout}" th:href="@{/logout}"></a>
            </span>
            <span sec:authorize="isAnonymous()">
                    <a href="#" class="link" id="loginLink" th:text="#{nav.login}"></a>
            </span>
            <span sec:authorize="isAnonymous()">
                   <a href="#" class="link" id="registrationLink" th:text="#{nav.registration}"></a>
            </span>
        </nav>

        <div class="form form_type_search search" method="post">
                <span class="input-control">
                    <label class="search__toggler" for="search"><i class="material-icons">search</i></label>
                    <input id="search" class="input search__input" placeholder="Чем могу помочь?"/>
                </span>
        </div>

    </div>
</header>

<div class="menu">
    <ul class="menu__list">
        <li class="menu__item" th:each="category : ${categoryServices}">
            <a class="link" th:text="${category.key.name}" href="#">
            </a>
        </li>
    </ul>
</div>

<div class="content wrapper">
    <section class="section section_size_1" th:each="category: ${categoryServices}">
        <h2 class="title" th:text="${category.key.name}"></h2>

        <div class="slider">

            <div class="slider__item" th:each="service: ${category.value}">
                <section class="card card_style_1">
                    <h3 class="card__title">
                        <p th:if="${service.account.firstName != null}" th:text="${service.account.firstName}"></p>
                        <p th:if="${service.account.lastName != null}" th:text="${service.account.lastName}"></p>
                    </h3>

                    <div th:if="${service.account.userPicUri != null}">
                        <img class="card__userpic" th:src="@{'/resources/i/' + ${service.account.userPicUri}}"></img>
                    </div>
                    <div class="card__userpic__plhldr" th:if="${service.account.userPicUri == null}"></div>
                    <div class="card__description" th:text="${service.description}"></div>
                    <p class="card__email" th:text="${service.account.email}" style="display: none"></p>
                    <footer class="card__footer">

                        <button class="btn" type="button" th:text="#{label.order}"></button>
                    </footer>
                </section>
            </div>

        </div>
    </section>
    <!--LOGIN-->
    <div class="modal" id="loginModal" style="display: none;">
        <div class="modal__inner">
            <section class="card login">
                <h3 class="card__title" th:text="#{nav.auth}"></h3>
                <p class="text" th:text="#{nav.personal.page}"></p>
                <p id="modalAlert" th:text="#{message.badCredentials}" style="display: none;"></p>
                <div class="card__body">
                    <form name='f' action="login" onsubmit="return validate();" class="form form_type_login clearfix"
                          method='POST'>
                        <span class="control-group">
                            <label class="label" th:text="#{label.user.email}"></label>
                            <input id="username" name="username" class="input" type="email"
                                   placeholder="ivanov@innopolis.ru"/>
                        </span>

                        <span class="control-group">
                            <label class="label" th:text="#{label.user.password}"></label>
                            <input id="password" name="password" class="input" type="password" placeholder="12345"/>
                        </span>

                        <div class="form__actions">
                            <button class="btn" id="loginSubmit" type="submit" th:text="#{nav.login}"></button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!--REGISTRATION-->
    <div class="modal" id="registrationModal" style="display: none;">
        <div class="modal__inner">
            <section class="card registration">
                <h3 class="card__title" th:text="#{nav.registration}"></h3>
                <p class="text" th:text="#{reg.title}"></p>


                <div class="card__body">
                    <form class="form form_type_registration clearfix" method="post">
                        <span class="control-group">
                            <label class="label" th:text="#{label.user.firstName}"></label>
                            <div th:if="${firstName != null}">
                                <input class="input" type="text" name="firstName"
                                       th:placeholder="#{reg.placeholder.firstName}"
                                       th:value="${firstName}"/>
                            </div>
                            <div th:if="${firstName == null}">
                                <input class="input" type="text" name="firstName"
                                       th:placeholder="#{reg.placeholder.firstName}"/>
                            </div>
                        </span>
                        <span class="control-group">
                            <label class="label" th:text="#{label.user.lastName}"></label>
                             <div th:if="${lastName != null}">
                                <input class="input" type="text" name="lastName"
                                       th:placeholder="#{reg.placeholder.lastName}"
                                       th:value="${lastName}"/>
                            </div>
                            <div th:if="${lastName == null}">
                                <input class="input" type="text" name="lastName"
                                       th:placeholder="#{reg.placeholder.lastName}"/>
                            </div>
                        </span>
                        <span class="control-group">
                            <label class="label" th:text="#{label.form.loginEmail}"></label>
                            <input class="input" type="email" name="email" placeholder="ivanov@innopolis.ru"/>
                            <label id="registrationEmailError" class="label" th:if="${registrationError != null}"
                                   th:text="${registrationError}"></label>
                        </span>

                        <span class="control-group">
                            <label class="label" th:text="#{reg.phone}"></label>
                            <input class="input" name="phone" type="text" placeholder="+79998009090"/>
                        </span>
                        <span class="control-group">
                            <label class="label" th:text="#{reg.password}"></label>
                            <input class="input" type="password" name="password" placeholder="12345"/>
                        </span>

                        <div class="form__actions">
                            <button class="btn" type="submit" th:text="#{reg.submit}"></button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!--REG SUCCESS-->
    <div class="modal" id="regSuccessModal" style="display: none;">
        <div class="modal__inner">
            <section class="card login">
                <h3 class="card__title" th:text="#{label.successRegister.title}"></h3>
                <p class="text" th:text="#{message.regSucc}"></p>
                <div class="card__body">
                    <button class="btn" type="button" id="regSuccBtn">Ok</button>
                </div>
            </section>
        </div>
    </div>
    <!--REG CONFIRM-->
    <div class="modal" id="regConfirmModal" style="display: none;">
        <div class="modal__inner">
            <section class="card login">
                <h3 class="card__title" th:text="#{reg.confirm.success.title}"></h3>
                <p class="text" th:text="#{reg.confirm.success}"></p>
                <div class="card__body">
                    <button class="btn" type="button" id="regConfirmBtn">Ok</button>
                </div>
            </section>
        </div>
    </div>


    <!--FAST ORDER-->
    <div class="modal" id="serviceModal" style="display: none;">
        <div class="modal__inner">
            <section class="card service">
                <div class="card__head">
                    <div id="personalInfo">
                        <div class="card__userpic__plhldr"></div>
                        <div id="personAndServiceName">
                            <h2>Анна Швабрович</h2>
                            <p>Сухая уборка квартиры и дома</p>
                        </div>
                    </div>
                    <div id="priceInfo">
                        <p>Оплата наличными</p>
                        <p>1500 рублей</p>
                    </div>
                </div>
                <div class="card__body">
                    <form class="form form_type_booking clearfix" method="post">
                        <span class="control-group">
                            <label class="label">Ваше имя</label>
                            <input class="input" type="text" name="name" placeholder="Иван"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Дата</label>
                            <input class="input" type="date" name="date" placeholder="01.05.2017"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Время</label>
                            <input class="input" type="time" name="time" placeholder="21:00"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Телефон</label>
                            <input class="input" name="phone" type="tel" placeholder="+79991554859"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Адрес</label>
                            <input class="input" name="address" type="text" placeholder="Иннополис, улица Спортивная…"/>
                        </span>
                        <span class="control-group">
                            <label class="label">Ваши пожелания</label>
                            <textarea class="input" name="wishes"
                                      placeholder="Привет! Было бы здорово, если…"></textarea>
                        </span>

                        <div class="form__actions">
                            <button id="fastOrder" type="button">Отправить заявку</button>
                            <button class="btn" id="aboutService" type="button">Подробнее об услуге</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<div id="regSucc" th:if="${registrationSuccess != null}" style="display: none;"></div>
<div id="regConfirm" th:if="${registrationConfirm != null}" style="display: none;"></div>
<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/plugins/select/jquery.nice-select.min.js"></script>
<script src="/resources/plugins/slick/slick.min.js"></script>
<script src="/resources/js/project.js"></script>
<script>

    var selectedEmail;

    $(document).ready(function () {
        $("#loginLink").click(function () {
            $("#loginModal").fadeIn();

            setTimeout(function () {
                $(document).click(function (event) {
                    if (!$(event.target).closest('section.card.login').length) {
                        if ($('#loginModal').is(":visible")) {
                            $('#loginModal').fadeOut();
                        }
                        $(this).unbind(event);
                    }
                });
            }, 1000);

        });
        $("#regSuccBtn").click(function () {
            $("#regSuccessModal").fadeOut();
        });
        if (document.getElementById('regSucc') != null) {
            modalClick('regSuccessModal');
        }
        $("#regConfirmBtn").click(function () {
            $("#regConfirmModal").fadeOut();
        });
        if (document.getElementById('regConfirm') != null) {
            modalClick('regConfirmModal');
        }
        if (document.getElementById('registrationEmailError') != null) {
            modalClick('registrationModal');
        }
        $("#registrationLink").click(function () {
            modalClick('registrationModal');
        });

        $(".card__footer").find("button").click(function () {
            var titleContainer = $(this).parent().parent().find(".card__title");
            var firstName = titleContainer.children().eq(0).text();
            var lastName = titleContainer.children().eq(1).text();
            selectedEmail = $(this).parent().parent().find(".card__email").text();
            var service = $(this).parent().parent().find(".card__description").text();


            $("#personalInfo").find("h2").text(firstName + " " + lastName);
            $("#personalInfo").find("p").text(service);

            $("#serviceModal").fadeIn();

            setTimeout(function () {
                $(document).click(function (event) {
                    if (!$(event.target).closest('section.card.service').length) {
                        if ($('section.card.service').is(":visible")) {
                            $('#serviceModal').fadeOut();
                        }
                        $(this).unbind(event);
                    }
                });
            }, 1000);
        });

        var hasError = getParameterByName("authError");
        var alertContainer = $("#modalAlert");
        if (hasError == "true") {
            $("#loginModal").show();
            alertContainer.fadeIn();
        }


        $("#fastOrder").click(function () {

            var data = $('.form_type_booking').serializeArray();
            data.push({name: 'email', value: selectedEmail});

            $.post('/fastOrder', data,
                function (response) {
                }, 'json');
        });
        $('#search').keydown(function (e) {
            if (e.keyCode == 13) {
                var data = [];
                data.push({name: 'search', value: $('#search').val()});
                $.post('/search', data,
                    function (response) {
                        if (response.message == "success") {
                            window.location = "http://localhost:8090/home";
                        }
                    }, 'json');
            }
        });
    });
    function modalClick(name) {
        $("#" + name).fadeIn();

        setTimeout(function () {
            $(document).click(function (event) {
                if (!$(event.target).closest('section.card.registration').length) {
                    if ($('section.card.registration').is(":visible")) {
                        $("#" + name).fadeOut();
                    }
                    $(this).unbind(event);
                }
            });
        }, 1000);
    }
    /*<![CDATA[*/
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    /*]]>*/
</script>
</body>

</html>