<html class="page" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Handy</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/css/project.css"/>
</head>

<body class="page__body">
<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>

        <nav class="header__nav">
            <a class="link" th:text="#{label.pages.logout}" th:href="@{/logout}"></a>
        </nav>

    </div>
</header>

<div class="content wrapper clearfix">
    <aside class="sidebar">
        <section class="card profile">
            <header class="profile__header">
                <div class="profile__photo">
                    <img class="img" th:src="@{'/resources/i/photos/' + ${account.userPicUri}}"></img>
                </div>
                <h3 class="profile__name" th:text="${account.firstName} + ' ' + ${account.lastName}"></h3>
            </header>

            <div class="profile__body">
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.age.serviceLength}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.age} + ': '"></span>
                        <span class="profile__value" th:text="${account.age} + ' ' +#{personal.years}"></span>
                    </p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.serviceLength} + ':' "></span>
                        <span class="profile__value"
                              th:text="${account.lengthOfService} + ' ' +#{personal.years}"></span>
                    </p>
                </section>
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.activity}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.workNumber} + ':'"></span>
                        <span class="profile__value" th:text="${account.workNumber}"></span>
                    </p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.lastWork} + ':'"></span>
                        <span class="profile__value" th:text="${account.lastWork}"></span>
                    </p>
                </section>
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.location}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.city} + ':'"></span>
                        <span class="profile__value" th:text="${account.city}"></span>
                    </p>
                </section>
            </div>
        </section>
    </aside>
    <div class="main">
        <section class="card">
            <h3 class="card__title" th:text="#{personal.about}"></h3>
            <div class="card__description" th:text="${account.description}">
            </div>
        </section>

        <section class="card">
            <h3 class="card__title">Услуги</h3>
            <div class="card__description">
                <ul class="service-list">
                    <li class="service-list__item">
                        <span class="service-list__name">Уборка 1 –</span>
                        <span class="service-list__price">2500р</span>
                    </li>
                    <li class="service-list__item">
                        <span class="service-list__name">Уборка 2 –</span>
                        <span class="service-list__price">2500р</span>
                    </li>
                    <li class="service-list__item">
                        <span class="service-list__name">Уборка 3 –</span>
                        <span class="service-list__price">2500р</span>
                    </li>
                    <li class="service-list__item">
                        <span class="service-list__name">Уборка 4 –</span>
                        <span class="service-list__price">2500р</span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="card">
            <h3 class="card__title">Примеры работ</h3>
            <div class="card__description">
                <div class="slider slider_type_examples">
                    <div class="slider__item" th:each="photo: ${account.photos}">
                        <div class="photo">
                            <img class="img"
                                 th:src="@{'/resources/i/photos/' + ${photo}}"></img>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" action="/personal">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Upload"/></td>
                    </tr>
                </table>
            </form>
        </section>

        <section class="card">
            <h3 class="card__title">Отзывы</h3>
            <div class="card__description">
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://handy-nyushkevich-ru.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>

            </div>
        </section>
    </div>
</div>

<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/plugins/select/jquery.nice-select.min.js"></script>
<script src="/resources/plugins/slick/slick.min.js"></script>
<script src="/resources/js/project.js"></script>
<script id="dsq-count-scr" src="//handy-nyushkevich-ru.disqus.com/count.js" async></script>
</body>

</html>

