<html class="page" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Handy</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/css/project.css"/>
    <link rel="stylesheet" href="/resources/plugins/dropzone/dropzone.css"/>
    <style>
        .dropzone {
            margin-top: 30px;
        }
    </style>
</head>

<body class="page__body">
<header class="header">
    <div class="wrapper">
        <a class="logo" href="/"></a>
        <h1 class="company">Handy</h1>

        <nav class="header__nav">
            <a class="link" th:text="#{label.pages.logout}" th:href="@{/logout}"></a>
        </nav>

    </div>
</header>

<div class="content wrapper clearfix">
    <aside class="sidebar">
        <section class="card profile">
            <header class="profile__header">
                <div class="profile__photo">
                    <img class="img" th:src="@{'/resources/i/photos/' + ${account.userPicUri}}"></img>
                </div>
                <h3 class="profile__name" th:text="${account.firstName} + ' ' + ${account.lastName}"></h3>

                <div class="dropzone" id="avatar">
                </div>
            </header>

            <div class="profile__body">
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.age.serviceLength}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.age} + ': '"></span>
                        <span class="profile__value" th:text="${account.age} + ' ' +#{personal.years}"></span>
                    </p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.serviceLength} + ':' "></span>
                        <span class="profile__value"
                              th:text="${account.lengthOfService} + ' ' +#{personal.years}"></span>
                    </p>
                </section>
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.activity}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.workNumber} + ':'"></span>
                        <span class="profile__value" th:text="${account.workNumber}"></span>
                    </p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.lastWork} + ':'"></span>
                        <span class="profile__value" th:text="${account.lastWork}"></span>
                    </p>
                </section>
                <section class="profile__section">
                    <p class="profile__subtitle" th:text="#{personal.location}"></p>
                    <p class="profile__info">
                        <span class="profile__label" th:text="#{personal.city} + ':'"></span>
                        <span class="profile__value" th:text="${account.city}"></span>
                    </p>
                </section>
            </div>
        </section>
    </aside>
    <div class="main">
        <section class="card">
            <h3 class="card__title" th:text="#{personal.about}"></h3>
            <div class="card__description">
                <form class="form form_type_edit" id="about_form">
                    <textarea id="aboutText" class="textarea" th:text="${account.description}" rows="3"></textarea>
                    <button id="aboutBtn" type="button" class="btn btn-edit" th:text="#{btn.save}"></button>
                </form>
            </div>
        </section>

        <section class="card">
            <h3 class="card__title">Услуги <span class="btn btn-add btn-add_action_service"><i class="material-icons">add</i>Добавить</span>
            </h3>
            </h3>
            <div class="card__description">
                <form class="form form_type_edit" id="service_form">
                    <div class="form__inner">
                        <div class="control-group service-group" th:each="service: ${account.serviceDtos}">
                            <input class="input" name="service" type="text" th:value="${service.description}">
                            <select class="select" name="categorySelect">
                                <option class="select__option" th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                            <input class="input" name="price" type="text" th:value="${service.price}">
                            <i class="material-icons btn-del">close</i>
                        </div>

                        <div class="control-group service-group service-template" style="display: none;">
                            <input class="input" name="service" type="text">
                            <select class="select" name="categorySelect">
                                <option class="select__option" th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                            <input class="input" name="price" type="text" >
                            <i class="material-icons btn-del">close</i>
                        </div>

                    </div>
                    <button id="servicesBtn" class="btn btn-edit" th:text="#{btn.save}"></button>
                </form>
            </div>
        </section>

        <section class="card">
            <h3 class="card__title">Примеры работ</h3>
            <div class="card__description">
                <div class="slider slider_type_examples">
                    <div class="slider__item" th:each="photo: ${account.photos}">
                        <div class="photo">
                            <img class="img"
                                 th:src="@{'/resources/i/photos/' + ${photo}}"></img>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropzone" id="examples">
            </div>
        </section>

        <section class="card">
            <h3 class="card__title">Отзывы</h3>
            <div class="card__description">
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                    var getUrlParameter = function getUrlParameter(sParam) {
                        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                            sURLVariables = sPageURL.split('&'),
                            sParameterName,
                            i;

                        for (i = 0; i < sURLVariables.length; i++) {
                            sParameterName = sURLVariables[i].split('=');

                            if (sParameterName[0] === sParam) {
                                return sParameterName[1] === undefined ? true : sParameterName[1];
                            }
                        }
                    };

                    var disqus_config = function () {
                        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = getUrlParameter(id); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://handy-nyushkevich-ru.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Disqus.</a></noscript>

            </div>
        </section>
    </div>
</div>

<footer class="footer">
    <div class="copyright wrapper"><a class="link" href="#">Handy team</a>, 2017</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/resources/plugins/select/jquery.nice-select.min.js"></script>
<script src="/resources/plugins/slick/slick.min.js"></script>
<script src="/resources/js/project.js"></script>
<script src="/resources/plugins/dropzone/dropzone.js"></script>
<script id="dsq-count-scr" src="//handy-nyushkevich-ru.disqus.com/count.js" async></script>
<script>

    Dropzone.autoDiscover = false;

    $("#examples").dropzone({
        url: "/personal",
        paramName: "file",
        uploadMultiple: true,
        dictDefaultMessage: "Перетащите примеры своих работ в это окно",
        addRemoveLinks: false
    });

    $("#avatar").dropzone({
        url: "/personal/userPic",
        paramName: "file",
        uploadMultiple: false,
        dictDefaultMessage: "Перетащите фото профиля в это окно",
        addRemoveLinks: false
    });


    $(document).ready(function () {
        $('.service-group .btn-del').on('click', function () {
            $(this).parent().fadeOut().remove();
        });

        $('.btn-add_action_service').on('click', function () {

            $(".service-template").clone()
                .removeClass("service-template")
                .appendTo(".form__inner").fadeIn();

            $(".close").click(function () {
                $(this).parent().fadeOut().remove();
            });
        });


        $("#servicesBtn").click(function () {
            var data  = $('#service_form').clone()
                .find(".service-template").remove().end().serialize();
            $.post('/updateServices', data,
                function (response) {
                    response.preventDefault();
                }, 'json');
        });

        $("#aboutBtn").click(function () {
            var data = [];
            data.push({name: 'about', value: $('#aboutText').val()});
            $.post('/updateAbout', data,
                function (response) {

                }, 'json');
        });
    });
</script>

</body>

</html>

